---
nameservices_url:
  - http://rhtpnann001:50070
  - http://rhtpnann002:50070
mounts: "/"
user: "user"
auth_mechanism: "NONE"
verify: False
mutual_auth: "OPTIONAL"
max_concurrency: 10
token: "YOURTOKEN"
proxy: "proxieduser"
root: "/home/username"
timeout: 5
truststore: "/path/to/truststore.jks"